<div id="frame">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet'
        type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../css/msg.css">
    <title>Mess</title>
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <img id="profile-img" src="../img/avatar/{{User.username}}.png"
                    onerror="this.src='../img/avatar/default.png'" class="online" alt="" data-toggle="modal" data-target="#user-information"/>
                <p>{{User.username}}</p>
            </div>
        </div>
        <contact-list></contact-list>
        <div id="bottom-bar">
            <add-contact></add-contact>
            <my-settings></my-settings>
        </div>
    </div>
    <my-messages></my-messages>
</div>

<script>
    // $(".messages").animate({ scrollTop: $(document).height() }, "fast");

    // $("#profile-img").click(function () {
    //     $("#status-options").toggleClass("active");
    // });

    // $(".expand-button").click(function () {
    //     $("#profile").toggleClass("expanded");
    //     $("#contacts").toggleClass("expanded");
    // });

    // $("#status-options ul li").click(function () {
    //     $("#profile-img").removeClass();
    //     $("#status-online").removeClass("active");
    //     $("#status-away").removeClass("active");
    //     $("#status-busy").removeClass("active");
    //     $("#status-offline").removeClass("active");
    //     $(this).addClass("active");

    //     if ($("#status-online").hasClass("active")) {
    //         $("#profile-img").addClass("online");
    //     } else if ($("#status-away").hasClass("active")) {
    //         $("#profile-img").addClass("away");
    //     } else if ($("#status-busy").hasClass("active")) {
    //         $("#profile-img").addClass("busy");
    //     } else if ($("#status-offline").hasClass("active")) {
    //         $("#profile-img").addClass("offline");
    //     } else {
    //         $("#profile-img").removeClass();
    //     };

    //     $("#status-options").removeClass("active");
    // });

    // function newMessage() {
    //     message = $(".message-input input").val();
    //     if ($.trim(message) == '') {
    //         return false;
    //     }
    //     $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
    //     $('.message-input input').val(null);
    //     $('.contact.active .preview').html('<span>You: </span>' + message);
    //     $(".messages").animate({ scrollTop: $(document).height() }, "fast");
    // };

    // $('.submit').click(function () {
    //     newMessage();
    // });

    // $(window).on('keydown', function (e) {
    //     if (e.which == 13) {
    //         newMessage();
    //         return false;
    //     }
    // });
//# sourceURL=pen.js
</script>