<div class="btn-group dropup d-block">
    <button title="Add Contact" type="button" id="addcontact" class="btn btn-secondary dropdown-toggle border-0"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i><span>Add Contact</span>
    </button>
    <div class="dropdown-menu">
        <button title="Friend Requests" class="dropdown-item border-0 d-block" data-toggle="modal"
            data-target="#friendRequest"><i class="fa fa-user fa-fw"></i><span>Friend
                Requests</span></button>
        <button title="Add Friend" class="dropdown-item border-0 d-block" data-toggle="modal"
            data-target="#addFriend"><i class="fa fa-user-plus fa-fw"></i><span>Add Friend</span></button>
        <button title="Create Group" class="dropdown-item border-0 d-block" data-toggle="modal"
            data-target="#createGroup"><i class="fa fa-users fa-fw"></i><span>Create Group</span></button>
    </div>
</div>

<!-- Check out some friend -->
<div class="modal fade" id="friendRequest" tabindex="-1" role="dialog" aria-labelledby="friendRequestTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c3e50;">
                <h5 class="modal-title text-white" id="friendRequestTitle">Friend Request</h5>
                <button type="button" class="close w-50" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="d-block text-lg-center">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark text-white">
                <div class="accordion" id="accordionFriendRequestList">
                    <div class="card bg-transparent" style="height: auto !important;">
                        <div class="card-header p-0" id="receivedFriendRequestsHeading">
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left text-white p-10 w-100 btn-outline-primary"
                                    type="button" data-toggle="collapse" data-target="#receivedFriendRequestsCollapse"
                                    aria-expanded="true" aria-controls="receivedFriendRequestsCollapse">
                                    Received Friend Request
                                </button>
                            </h2>
                        </div>

                        <div id="receivedFriendRequestsCollapse" class="collapse show"
                            aria-labelledby="receivedFriendRequestsHeading" data-parent="#accordionFriendRequestList">
                            <div class="card-body p-1" style="max-height: 350px !important;">
                                <div class="text-center text-white" ng-if="User.receivedFriendRequests.length == 0">You
                                    received no
                                    friend
                                    request.</div>
                                <div ng-repeat="receivedRequest in User.receivedFriendRequests">
                                    <div class="row justify-content-left">
                                        <div class="img_cont col-2">
                                            <img ng-src="../img/avatar/{{receivedRequest.username}}.png"
                                                onerror="this.src='../img/avatar/default.png'"
                                                class="rounded-circle user_img" style="size: 50%;">
                                        </div>
                                        <div class="user_info col-6 text-white">
                                            <span>{{receivedRequest.username}}</span>
                                        </div>
                                        <div style="align-self: center;"><button class="btn btn-primary btn-sm p-2"
                                                ng-click="acceptFriendRequest(receivedRequest.userId, receivedRequest.username)"
                                                data-dismiss="modal">Accept</button></div>
                                        <div class="ml-1" style="align-self: center;"><button
                                                class="btn btn-danger btn-sm p-2"
                                                ng-click="declineFriendRequest(receivedRequest.userId, receivedRequest.username)"
                                                data-dismiss="modal">Decline</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-transparent" style="height: auto !important;">
                        <div class="card-header p-0" id="sentFriendRequestsHeading">
                            <h2 class="mb-0">
                                <button
                                    class="btn btn-link btn-block text-left collapsed w-100 p-10 text-white btn-outline-primary"
                                    type="button" data-toggle="collapse" data-target="#sentFriendRequestsCollapse"
                                    aria-expanded="false" aria-controls="sentFriendRequestsCollapse">
                                    Sent Friend Request
                                </button>
                            </h2>
                        </div>
                        <div id="sentFriendRequestsCollapse" class="collapse"
                            aria-labelledby="sentFriendRequestsHeading" data-parent="#accordionFriendRequestList">
                            <div class="card-body p-1" style="max-height: 350px !important;">
                                <div class="text-center text-white" ng-if="User.sentFriendRequests.length == 0">
                                    You sent no friend request.</div>
                                <div ng-repeat="sentRequest in User.sentFriendRequests">
                                    <div class="row justify-content-left">
                                        <div class="img_cont col-2">
                                            <img ng-src="../img/avatar/{{sentRequest.username}}.png"
                                                onerror="this.src='../img/avatar/default.png'"
                                                class="rounded-circle user_img" style="size: 50%;">
                                        </div>
                                        <div class="user_info col-7 text-white">
                                            <span>{{sentRequest.username}}</span>
                                        </div>
                                        <div style="align-self: center;"><button class="btn btn-primary btn-sm p-2"
                                                ng-click="cancelFriendRequest(sentRequest.userId, sentRequest.username)"
                                                data-dismiss="modal">Cancel</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #2c3e50;">
                <button type="button" class="btn btn-secondary" ng-click="clear()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Add friend by search -->
<div class="modal fade" id="addFriend" tabindex="-1" role="dialog" aria-labelledby="addFriendTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c3e50;">
                <h5 class="modal-title" id="addFriendTitle">Add Friend</h5>
                <button type="button" class="close w-50" data-dismiss="modal" aria-label="Close" ng-click="clear()">
                    <span aria-hidden="true" class="d-block text-lg-center">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white bg-dark">
                <div class="card bg-transparent contacts_card h-auto">
                    <div class="card-header d-block bg-transparent p-0">
                        <div class="search" style="display: block !important;">
                            <label for="searchName"><i class="fa fa-search" aria-hidden="true"></i></label>
                            <input class="w-100" type="search" placeholder="Search contacts..." ng-change="searchUser()"
                                ng-model="searchName" />
                        </div>
                    </div>
                    <div class="card-body contacts_body bg-transparent p-1" style="max-height: 350px !important;">
                        <div class="text-white text-center" ng-if="!searchName">Input name to search.</div>
                        <div class="text-white text-center" ng-if="searchName && searchResult.length == 0">No
                            result.</div>
                        <ui class="contacts">
                            <li ng-repeat="user in searchResult" style="max-height: 50px !important;">
                                <div class="row d-flex bd-highlight">
                                    <div class="col-2 img_cont">
                                        <img ng-src="../img/avatar/{{user.username}}.png"
                                            onerror="this.src='../img/avatar/default.png'"
                                            class="rounded-circle user_img">
                                    </div>
                                    <div class="col-7 user_info">
                                        {{user.username}}
                                    </div>
                                    <div class="m-auto"><button class="btn btn-primary btn-sm" data-dismiss="modal"
                                            ng-click="sendFriendRequest(user.userId, user.username)">Add</button>
                                    </div>
                                </div>
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: #2c3e50;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--Inform you already send this person a friend request-->
<div class="modal fade" id="notifySent" tabindex="-1" role="dialog" aria-labelledby="notifySentTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c3e50;">
                <h5 class="modal-title" id="notifySentTitle">Notification</h5>
                <button type="button" class="close w-50" ng-click="clear()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-dark text-white">
                You've already sent a friend request to this person!<br>Wait for them to accept or decline.
            </div>
            <div class="modal-footer" style="background-color: #2c3e50;">
                <button type="button" class="btn btn-danger"
                    ng-click="cancelFriendRequest(vm.Account.futureFriendId, vm.Account.futureFriend)"
                    data-dismiss="modal">Cancel Friend Request</button>
                <button type="button" class="btn btn-primary" ng-click="clear()" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--Inform this person is already send you a friend request-->
<div class="modal fade" id="notifyReceived" tabindex="-1" role="dialog" aria-labelledby="notifyReceivedTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c3e50;">
                <h5 class="modal-title" id="notifyReceivedTitle">Notification</h5>
                <button type="button" class="close w-50" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white bg-dark">
                This person has already sent you a friend request.<br>Accept?
            </div>
            <div class="modal-footer" style="background-color: #2c3e50;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    ng-click="acceptFriendRequest(requestUserId, requestUser)">Accept</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    ng-click="declineFriendRequest(requestUserId, requestUser)">Decline</button>
            </div>
        </div>
    </div>
</div>

<!-- Create group -->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroupTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c3e50;">
                <h5 class="modal-title" id="createGroupTitle">Create Group</h5>
                <button type="button" ng-click="clear()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white bg-dark">
                <div class="input-group">
                    <input type="text" class="form-control bg-dark text-white" ng-model="newGroupName"
                        placeholder="Group name..." />
                </div>
                <div id="createGroupInform" class="text-danger"></div>
            </div>
            <div class="modal-footer" style="background-color: #2c3e50;">
                <button type="button" class="btn btn-primary" ng-click="createGroup()">OK</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clear()">Cancel</button>
            </div>
        </div>
    </div>
</div>