<div class="btn-group dropup d-block">
    <button title="Settings" type="button" id="settings" class="btn btn-secondary dropdown-toggle border-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span>
    </button>
    <div class="dropdown-menu">
        <button title="Log out" class="dropdown-item border-0 d-block" ng-click="logOut()"><i class="fa fa-ban fa-fw"></i><span>Log out</span></button>
    </div>
</div>